
header
{
    background-color: black;
    text-align: center;
    padding: 50px;
    font-size: 40px;
}
header a
{
    color: white;
    text-decoration: none;
    font-family: 'Righteous', cursive;
}
header a:hover
{
    background-color: white;
    color: black;
    padding: 40px;
}
table 
{
    margin-top: 30px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}
th
{
    text-align: center;
    padding: 10px;
    color:white;
    font-size: 25px;
    background: #000000;
}
td 
{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    border-right: 1px solid #f8f8f8;
    
}


table tr:nth-child(even) {
    background: #F8F8F8;
    
}


footer
{
    clear: both;
    background-color: black;
    text-align: center;
    padding: 50px;
    font-size: 40px;
}
footer p
{
    color: white;
    font-family: 'WindSong', cursive;
}
